<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:," />
    <script
      type="module"
      src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"
    ></script>
  </head>

  <body>
    <rapi-doc
      spec-url="docs/v1"
      show-header="false"
      update-route="false"
      layout="row"
      render-style="view"
      show-info="true"
      allow-authentication="false"
      allow-try="true"
      allow-server-selection="false"
      default-schema-tab="schema"
    >
    </rapi-doc>
  </body>
</html>
