body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins";
  font-family: "Poppins";
  width: 1000px;
}
#semester_page {
  margin: 0 auto;
}

a {
  text-decoration: none;
}
nav a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

header,
footer {
  background-color: deepskyblue;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(15, 94, 128, 0.3)
  );
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

header h1 {
  padding: 10px;
}

header h1::first-letter {
  font-size: 40px;
}

header form {
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;
}

header form p {
  margin: 3px;
}

header form label {
  margin: 5px;
}

label {
  color: #444444;
  font-weight: bold;
}

#search_btn {
  border: solid 1px #757fc9;
  border-radius: 10px;
}

#search_btn:hover {
  background-color: white;
  cursor: pointer;
}

.breadcrumb a {
  color: white;
  font-size: 15px;
}
#index_main {
  flex-direction: row;
}
.search_div {
  /* margin-top: 50px; */
  text-align: center;
  margin-bottom: 150px;
  margin-right: 200px;
  width: max-content;
#index_page {
  margin: 0 auto;
}
.search_div {
  /* margin-top: 50px; */
  text-align: center;
  margin-bottom: 150px;
 
  width: max-content;
}
.searchbar {
  width: 450px;
  height: 35px;
  border: solid 2px #757fc9;
  border-radius: 25px;
}
.input-submit {
  /* margin-left: 5px; */
  margin-top: 40px;
  border-radius: 25px;
  width: 99px;
  height: 38px;
  border: none;
}
.input-submit:hover {
  background-color: white;
  border: solid 1px #757fc9;
}
nav {
  background-color: #f4f4f4;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
nav h2 {
  text-align: center;
}
a {
  display: block;
nav a {
  color: black;
  display: block;
}
nav ul li:hover {
  background-color: white;
}

main {
  flex: 1;
  box-sizing: border-box;
}
}

#semester_page .main-content {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#semester_page .main-content h2 {
  text-align: center;
}

.semesters {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.semesterBox {
  background-color: white;
  border: solid 1px gray;
  border-radius: 20px;
  margin: 10px;
  padding: 15px 20px;
}

.semesterBox ul {
  list-style-type: none;
  padding-left: 5px; /* remove default padding */
}

.semesterBox ul li::before {
  content: "\2192"; /* Unicode character for right arrow */
  display: inline-block;
  width: 1em; /* Adjust the width as needed */
  margin-right: 3px;
}

.semesterBox ul li {
  margin-bottom: 5px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

header {
  min-height: 50px;
  background-color: skyblue;
#index_page header {
  min-height: 50px;
}

.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

aside {
  background-color: #f4f4f4;
  margin-left: 0;
}

.main-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
#index_page .main-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#semester_page .main-content {
  justify-content: center;
  align-items: center;
}

footer {
  min-height: 50px;
  background-color: skyblue;
  min-height: 50px;
}
.semesterBox p {
  display: block;
  border-bottom: 1px gray solid;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 5px;
  margin-bottom: 10px;
}
