body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header,
footer {
  background-color: deepskyblue;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(15, 94, 128, 0.3)
  );
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
header h1 {
  padding: 10px;
}

header h1::first-letter {
  font-size: 40px;
}

header form {
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;
}

header form p {
  margin: 3px;
}

header form label {
  margin: 5px;
}

label {
  color: #444444;
  font-weight: bold;
}

#search_btn {
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-bottom: 5px;
}

main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.semesters {
  display: flex;
  flex-wrap: wrap;
}
.semesterBox {
  border: solid 1px gray;
  border-radius: 20px;
  margin: 10px;
  padding: 15px 20px;
}

.semesterBox ul {
  list-style-type: none;
  padding-left: 5px; /* remove default padding */
}

.semesterBox ul li::before {
  content: "\2192"; /* Unicode character for right arrow */
  display: inline-block;
  width: 1em; /* Adjust the width as needed */
  margin-right: 3px;
}

.semesterBox ul li {
  margin-bottom: 5px;
}
